/* Fontes */
/* Paleta de Cores */
.selecione__pet {
  background-color: #fcfcfc;
}

.selecione__pet h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  color: #3C2704;
}

.lista__pets {
  margin-top: 30px;
  margin-bottom: 80px;
}

.lista__pets .card-body h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
  color: #3C2704;
  min-height: 60px;
}

.lista__pets .card-body h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
  color: #3C2704;
}

.lista__pets .card-body p {
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  color: #3C2704;
}

.lista__pets .card-body .btn-danger {
  margin-left: 20px;
  margin-top: 20px;
}

.lista__pets .false {
  display: none;
}

.navbar {
  background-color: #FFF4A9;
}

#navbarHeader {
  background-color: #fcfcfc;
  color: #000000 !important;
}

.book-title {
  font-size: 24px;
}

.card-body {
  padding: 10px !important;
  padding-left: 0px !important;
}

.card-body ul {
  margin-top: -20px;
}

.card-body li {
  list-style-type: square;
  font-size: 16px;
  line-height: 24px;
}

.card-body p {
  font-size: 14px;
  min-height: 70px;
}

.card-body .go__back {
  margin-left: 40px;
}

.card-text {
  min-height: 50px;
}

.selecionar__pet {
  margin-left: 5px;
  font-family: "Alegreya Sans", sans-serif !important;
  background-color: #3C2704 !important;
  color: #FFF4A9 !important;
}

.selecionar__pet:hover {
  background-color: #FFF4A9 !important;
  color: #3C2704 !important;
  -webkit-transition: 1s;
  /* Safari */
  transition: 1s;
}

footer {
  background-color: #3C2704;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

footer p {
  font-family: "Quicksand", sans-serif;
  color: #FFF4A9 !important;
  line-height: 48px;
  font-size: 11px;
}

footer a {
  font-family: "Quicksand", sans-serif;
  color: #FFF4A9;
  font-size: 24px;
}
