<!doctype html>
<html ng-app="testeMJV" lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" />

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:800|Quicksand&display=swap" rel="stylesheet">

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <!-- Jquery -->
     <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Angular -->
    <script src="/js/angular/angular.min.js"></script>

    <title>The Dog Finder | Everything about your pet</title>
  </head>
  <body>
    <header>
        <div class="navbar navbar-light box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="index.html" class="navbar-brand d-flex align-items-center">
              <img src="img/logo.png" height="36" class="logo" alt="The Dog Finder Internet Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
  
      <main role="main">
  
        <div ng-controller="listaPets" class="selecione__pet album py-5">

          <div class="container">
            <h1>Hello! Choose your favorite breed here :)</h1>
            <div class="row lista__pets">
              <div ng-repeat="breed in dados" class="col-md-3">
                <div class="card mb-4 box-shadow">
                  <div class="row d-flex">
                    <div class="col-md-12">
                      <img class="card-img-top cover-book" src="img/{{ breed.id }}.jpg" alt="{{ breed.name }}">
                      <div class="card-body">
                        <h2 class="book-title">{{ breed.name }}</h2>
                        <p class="card-text">{{ breed.temperament }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card-body">
                      <a class="btn-block btn selecionar__pet" href="{{ breed.id }}.html">Choose me :)</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  
      <footer>
        <div class="container">
          <p class="float-right">
            <a href="#"><i class="fas fa-angle-up"></i></a>
          </p>
          <p>2019® The Dog Finder . Developed by Roosevelt Franklin for MJV front-end test.</p>
        </div>
      </footer>
  
      <!-- Bootstrap core JavaScript
      ================================================== -->

    <!-- Optional JavaScript -->

    <script src="js/app.module.js"></script>
    
    <!-- controllers -->
    <script src="js/listaPetsController.js"></script>
  </body>
</html>