/* Fontes */

$HeaderFont: 'Alegreya Sans', sans-serif;
$TextFont: 'Quicksand', sans-serif;

/* Paleta de Cores */
$amarelo:#FFF4A9;
$preto: #000000;
$marrom: #3C2704;
$vermelho: #FF0000;

.selecione__pet{
    background-color:#fcfcfc;
    h1{
        font-family:$HeaderFont;
        font-weight:900;
        color: $marrom;
    }
}

.lista__pets{
    margin-top:30px;
    margin-bottom:80px;
    .card-body{
        h2{
            font-family:$HeaderFont;
            font-weight:700;
            margin-left:20px;
            margin-top:20px;
            color: $marrom;
            min-height:60px;
        }
        h3{
            font-family:$HeaderFont;
            font-size: 1.2em;
            font-weight:700;
            margin-left:20px;
            margin-top:20px;
            color: $marrom;
        }
        p{
            margin-left:20px;
            font-family:$TextFont;
            color: $marrom;
        }
        .btn-danger{
            margin-left:20px;
            margin-top:20px;
        }
    }
    .false{
        display:none;
    }
}

.navbar{
    background-color:$amarelo;
}

#navbarHeader{
    background-color:#fcfcfc;
    color:$preto !important;
}

.book-title{
    font-size: 24px;
}

.card-body {
    padding: 10px !important;
    padding-left: 0px !important;
    ul{
        margin-top:-20px;
    }
    li{
        list-style-type: square;
        font-size: 16px;
        line-height:24px;
    }
    p{
        font-size:14px;
        min-height:70px;
    }
    .go__back{
        margin-left:40px;
    }
}

.card-text{
    min-height:50px;
}

.selecionar__pet{
   margin-left:5px;
   font-family:$HeaderFont !important;
   background-color:$marrom !important;
   color:$amarelo !important;
}
.selecionar__pet:hover{
    background-color:$amarelo !important;
    color: $marrom !important;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
 }

footer{
    background-color: $marrom;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    p{
        font-family:$TextFont;
        color: $amarelo !important;
        line-height: 48px;
        font-size:11px;
    }
    a{
        font-family:$TextFont;
        color:$amarelo;
        font-size: 24px;
    }
}